extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta neque sed purus lacinia, sed fermentum orci suscipit. Nunc id elementum ex. Vestibulum et sagittis quam. Donec id felis magna. Vivamus lacinia enim quis viverra condimentum. Vestibulum eget commodo orci. Phasellus semper est vitae lectus interdum, dictum semper enim viverra. Ut varius lectus sit amet urna imperdiet, sit amet vehicula ipsum ultricies. Cras congue placerat volutpat. Curabitur et vehicula diam. Ut et interdum quam. Etiam in odio non ligula lacinia molestie sed ac augue. Sed est ipsum, molestie consectetur elementum interdum, rhoncus eu diam. Vestibulum tincidunt scelerisque lacinia.

                p Donec ex enim, euismod eget turpis eget, iaculis molestie risus. Aenean rutrum rhoncus ante, id ullamcorper tellus posuere et. Ut euismod eros id tempus suscipit. Aenean semper lorem ac massa porttitor auctor at at ante. Mauris venenatis augue ac leo maximus rhoncus. Morbi luctus sed dui ut rutrum. Ut feugiat turpis a fermentum molestie. Aenean sed metus at lectus dictum dapibus at vel sapien.

                p Nunc rutrum velit justo, sed varius sem auctor sit amet. Integer sed suscipit nisi. Aenean eu tellus mollis, aliquet sem sit amet, pellentesque diam. Fusce id consectetur risus, eu sollicitudin odio. Donec rutrum ipsum vitae nunc pulvinar, ut consequat erat scelerisque. Nunc eu consectetur libero, vitae aliquam sapien. Donec sit amet efficitur augue. Sed interdum sed felis eu semper. Aenean ac nunc ut turpis fringilla luctus sed at lectus. Fusce id lacus ac augue vulputate aliquet.
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iure recusandae reprehenderit, ut saepe dolorum explicabo consectetur doloribus laborum culpa vitae voluptatibus accusantium illo labore, praesentium velit inventore ipsam quis?
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iure recusandae reprehenderit, ut saepe dolorum explicabo consectetur doloribus laborum culpa vitae voluptatibus accusantium illo labore, praesentium velit inventore ipsam quis?
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iure recusandae reprehenderit, ut saepe dolorum explicabo consectetur doloribus laborum culpa vitae voluptatibus accusantium illo labore, praesentium velit inventore ipsam quis?